name: Build and Publish Multiple Projects

on:
    push:
        branches: [master]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup .NET
              uses: actions/setup-dotnet@v4
              with:
                  dotnet-version: '10.0.x'

            # Project 1
            - name: Restore ConsoleApp
              run: dotnet restore ./ConsoleApp/ConsoleApp.csproj

            - name: Build ConsoleApp
              run: dotnet build ./ConsoleApp/ConsoleApp.csproj --configuration Release --no-restore

            - name: Publish ConsoleApp
              run: dotnet publish ./ConsoleApp/ConsoleApp.csproj -c Release -o ./publish/ConsoleApp

            # Project 2
            - name: Restore ononlaw-api
              run: dotnet restore ./ononlaw-api/ononlaw-api.csproj

            - name: Build ononlaw-api
              run: dotnet build ./ononlaw-api/ononlaw-api.csproj --configuration Release --no-restore

            - name: Publish ononlaw-api
              run: dotnet publish ./ononlaw-api/ononlaw-api.csproj -c Release -o ./publish/ononlaw-api

            # Project 3
            - name: Restore WorkerService
              run: dotnet restore ./WorkerService/WorkerService.csproj

            - name: Build WorkerService
              run: dotnet build ./WorkerService/WorkerService.csproj --configuration Release --no-restore

            - name: Publish WorkerService
              run: dotnet publish ./WorkerService/WorkerService.csproj -c Release -o ./publish/WorkerService

            # Upload artifacts separately
            - name: Upload ConsoleApp Artifact
              uses: actions/upload-artifact@v4
              with:
                  name: ConsoleApp-build
                  path: ./publish/ConsoleApp

            - name: Upload ononlaw-api Artifact
              uses: actions/upload-artifact@v4
              with:
                  name: project2-build
                  path: ./publish/ononlaw-api

            - name: Upload WorkerService Artifact
              uses: actions/upload-artifact@v4
              with:
                  name: WorkerService-build
                  path: ./publish/WorkerService
